
/* CSS-reset */

html,
body{
	margin: 0;
	height: 100%;
	min-height: 600px;
	min-width: 1000px;
	font: 12px/16px Arial, Helvetica, sans-serif;
	color: #333;
	background: #eee;
}
a{
	color: #315373;
	text-decoration: none;
}
a:hover{color: #87a2bc;}
input{color: #333;}
::-webkit-input-placeholder {color: #333;}
:-moz-placeholder {
	color:    #333;
	opacity:  1;
}
::-moz-placeholder {
	color:    #333;
	opacity:  1;
}
:-ms-input-placeholder{color: #333;}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrapper{
	width: 100%;
	overflow: hidden;
}
a[ng-click]{
	cursor: pointer;
}
[ng\:cloak],
[ng-cloak],
.ng-cloak,
.hide{
	display: none !important;
}

/*end CSS-reset*/
#app{height: 100%;}
#main{
	border-top: 2px solid #fff;
	height: calc(100% - 77px);
}
#header{
	height: 55px;
	padding: 20px 0 0;
	background: -webkit-linear-gradient(#fff, #aad6ff);
	background: -o-linear-gradient(#fff, #aad6ff);
	background: -moz-linear-gradient(#fff, #aad6ff);
	background: linear-gradient(#fff, #aad6ff);
}
#header .logo{
	overflow: hidden;
	text-indent: -9999px;
	width: 85px;
	height: 60px;
	background: url('../img/logo.png') 0 0 no-repeat;
	margin: -15px 20px 0 30px;
	float: left;
}
#header .slogan{
	float: left;
	margin: 0;
	font: 20px/32px Arial, Helvetica, sans-serif;
}
#header .tabs{
	float: right;
	font: 20px/32px Arial, Helvetica, sans-serif;
}
#header .tabs a{
	float: left;
	padding: 0 20px;
}
#header .tabs a.active{color: #87a2bc;}

@media (max-width: 1170px) {
	#header .tabs {
		float: left;
	}
	#header .slogan{
		line-height: 28px;
		margin-top: -10px;
	}
}

.sub-nav{
	height: 42px;
	border-bottom: 2px solid #fff;
}
.sub-nav h2,
.sub-nav nav,
.sub-nav li,
.sub-nav input,
.sub-nav label,
.sub-nav span,
.sub-nav a{
	float: left;
	margin: 0;
	font: 20px/42px Arial, Helvetica, sans-serif;
}
.sub-nav span{color: #cd0000;}
.sub-nav span,
.sub-nav label{margin: 0 0 0 10px;}
.sub-nav h2 a{
	float: none;
	padding: 0;
}
.sub-nav nav a{
	font-size: 16px;
	padding: 0 10px;
}
.sub-nav h2{margin: 0 0 0 30px;}
.sub-nav a{padding:0 20px;}
.sub-nav .wizard-control,
.sub-nav .reset-location{float:right;}
.sub-nav .cta{
	float: right;
	text-transform: uppercase;
	color: #fff;
	background: -webkit-linear-gradient(#aad6ff, #315373);
	background: -o-linear-gradient(#aad6ff, #315373);
	background: -moz-linear-gradient(#aad6ff, #315373);
	background: linear-gradient(#aad6ff, #315373);
	font-weight: bold;
	border-radius: 20px;
	margin: 0 10px;
}
.sub-nav input[type="checkbox"]{margin: 15px 10px;}
.sub-nav input[type="email"],
.sub-nav input[type="password"],
.sub-nav input[type="text"],
.sub-nav textarea{
	height: 40px;
	padding: 0 5px;
	line-height: 40px;
	margin: 0 0 0 10px;
	width: 38%;
	min-width: 380px;
	border: 1px solid #333;
}
.sub-nav input[type="email"],
.sub-nav input[type="password"]{
	min-width: 150px;
	width: 15%;
}
.sub-nav textarea{
	font: 14px/20px Arial, Helvetica, sans-serif;
	resize: none;
}
.map-holder{height: calc(100% - 44px);}
#map{
	height: 100%;
	width: 100%;
}
#map a{font: 20px/24px Arial, Helvetica, sans-serif;}
.location-controls{padding: 100px 0 0;}
.location-controls > li{
	float: left;
	width: 44%;
	padding: 0 3%;
	text-align: center;
}
.location-controls h2,
.location-controls input{
	border: 1px solid #eee;
	background: #eee;
	padding: 0;
	margin: 0 0 30px;
	display: block;
	text-align: center;
	width: 100%;
	font: 30px/40px Arial, Helvetica, sans-serif;
}
.sub-nav input[type="password"].ng-dirty.ng-empty,
.location-controls input.required{border-color: #cd0000;}
.location-controls .go-link{
	color: #fff;
	font: 40px/100px Arial, Helvetica, sans-serif;
	height: 100px;
	width: 100px;
	display: block;
	margin: 0 auto 10px;
	border-radius: 50px;
	box-shadow: 0 0 10px #000;
	text-shadow: 0 0 3px #000;
}
.location-controls .geolocation{background: #ffe700;}
.location-controls .geocoding{background: #4caf50;}
.geocoding-results{
	font: 20px/24px Arial, Helvetica, sans-serif;
	margin: -10px 0 30px;
}
.geocoding-results li{padding: 10px 0;}
.popup-overlay{
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: table;
}
.popup-holder{
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.popup,
.popup-frame{
	float: left;
	position: relative;
	left: 50%;
}
.popup {
	left: -50%;
	box-shadow: 0 0 100px #000;
	text-align: center;
	background: #eee;
	padding: 15px;
	max-width: 500px;
	border-radius: 10px;
	font: 16px/20px Arial, Helvetica, sans-serif;
}
.popup .close-popup{
	float: right;
	font: 12px/12px Arial, Helvetica, sans-serif;
}
.popup h2{
	font: 20px/24px Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
}
.popup p{margin: 0 0 10px;}
.spot-info{width: 500px;}
