
/* CSS-reset */

html,
body{
	margin: 0;
	height: 100%;
	min-height: 480px;
	min-width: 768px;
	font: 12px/16px Raleway, Helvetica, sans-serif;
	color: #333;
	background: #eee;
}
a{
	color: #315373;
	text-decoration: none;
	text-shadow: 0 0 5px #bbb;
}
@font-face {
	font-family: 'Indie Flower';
	src: url('../fonts/IndieFlower.ttf');
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway.ttf');
}
a.active,
a:hover{color: #87a2bc;}
input{color: #333;}
::-webkit-input-placeholder {color: #333;}
:-moz-placeholder {
	color:    #333;
	opacity:  1;
}
::-moz-placeholder {
	color:    #333;
	opacity:  1;
}
:-ms-input-placeholder{color: #333;}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrapper{
	width: 100%;
	overflow: hidden;
}
a[ng-click]{
	cursor: pointer;
}
[ng\:cloak],
[ng-cloak],
.ng-cloak,
.hide{
	display: none !important;
}
span.errorMsg{color: #cd0000;}

/*end CSS-reset*/

#app{height: 100%;}
#main{
	border-top: 2px solid #fff;
	height: calc(100% - 77px);
}
#header{
	height: 55px;
	padding: 20px 0 0;
	background: -webkit-linear-gradient(#fff, #aad6ff);
	background: -o-linear-gradient(#fff, #aad6ff);
	background: -moz-linear-gradient(#fff, #aad6ff);
	background: linear-gradient(#fff, #aad6ff);
}
#header .logo{
	overflow: hidden;
	text-indent: -9999px;
	width: 85px;
	height: 60px;
	background: url('../img/logo.png') 0 0 no-repeat;
	margin: -15px 20px 0 30px;
	float: left;
}
#header .slogan{
	float: left;
	margin: 5px 0 0;
	font: 18px/32px 'Indie Flower', cursive;
}
#header .tabs{
	float: right;
	font: 20px/32px Raleway, Helvetica, sans-serif;
}
#header .tabs a{
	float: left;
	padding: 0 20px;
}
@media (max-width: 1170px) {
	#header .tabs {
		float: left;
	}
	#header .slogan{
		line-height: 28px;
		margin-top: -10px;
	}
}
a.cta{
	text-transform: uppercase;
	color: #fff;
	background: -webkit-linear-gradient(#aad6ff, #315373);
	background: -o-linear-gradient(#aad6ff, #315373);
	background: -moz-linear-gradient(#aad6ff, #315373);
	background: linear-gradient(#aad6ff, #315373);
	font-weight: bold;
	border-radius: 20px;
	margin: 0 10px;
	text-shadow: 0 0 5px #333;
}
.sub-nav{
	height: 42px;
	border-bottom: 2px solid #fff;
}
.sub-nav h2,
.sub-nav nav,
.sub-nav li,
.sub-nav input,
.sub-nav label,
.sub-nav span,
.sub-nav a{
	float: left;
	margin: 0;
	font: 20px/42px Raleway, Helvetica, sans-serif;
}
.sub-nav .cta{float: right;}
.sub-nav span,
.sub-nav label{margin: 0 0 0 10px;}
.sub-nav h2 a{
	float: none;
	padding: 0;
}
.sub-nav nav a{
	font-size: 16px;
	padding: 0 10px;
}
.sub-nav h2{margin: 0 0 0 30px;}
.sub-nav a{padding:0 20px;}
.sub-nav .wizard-control,
.sub-nav .reset-location{float:right;}
.sub-nav input[type="checkbox"]{margin: 15px 10px;}
.sub-nav input[type="email"],
.sub-nav input[type="password"],
.sub-nav input[type="text"],
.sub-nav textarea{
	height: 40px;
	padding: 0 5px;
	line-height: 40px;
	margin: 0 0 0 10px;
	width: 38%;
	min-width: 380px;
	border: 1px solid #ccc;
}
.sub-nav input[type="email"],
.sub-nav input[type="password"]{
	min-width: 150px;
	width: 15%;
}
.sub-nav textarea{
	font: 14px/20px Raleway, Helvetica, sans-serif;
	resize: none;
}
.map-holder{height: calc(100% - 44px);}
#map{
	height: 100%;
	width: 100%;
}
#map .open-spot{
	font: 20px/24px Raleway, Helvetica, sans-serif;
	text-align: center;
	max-width: 200px;
	display: block;
}
#map .star-rate{padding: 5px 0 0;}
.location-controls{padding: 100px 0 0;}
.location-controls > li{
	float: left;
	width: 44%;
	padding: 0 3%;
	text-align: center;
}
.location-controls h2,
.location-controls input{
	border: 1px solid #eee;
	background: #eee;
	padding: 0;
	margin: 0 0 30px;
	display: block;
	text-align: center;
	width: 100%;
	font: 30px/40px Raleway, Helvetica, sans-serif;
}
.location-controls input.required{
	border-color: #cd0000;}
.location-controls .go-link{
	color: #fff;
	font: 40px/100px Raleway, Helvetica, sans-serif;
	height: 100px;
	width: 100px;
	display: block;
	margin: 0 auto 10px;
	border-radius: 50px;
	box-shadow: 0 0 10px #000;
	text-shadow: 0 0 3px #000;
}
.location-controls .geolocation{background: #54d058;}
.location-controls .geocoding{background: #ffe700;}
.geocoding-results{
	font: 20px/24px Raleway, Helvetica, sans-serif;
	margin: -10px 0 30px;
}
.geocoding-results li{padding: 10px 0;}
.popup-container,
.popup-overlay{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: table;
}
.popup-overlay{
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.popup-holder{
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.popup,
.popup-frame{
	float: left;
	position: relative;
	left: 50%;
}
.popup {
	z-index: 3;
	left: -50%;
	box-shadow: 0 0 100px #000;
	text-align: center;
	background: #eee;
	padding: 10px;
	max-width: 500px;
	border-radius: 10px;
	font: 16px/20px Raleway, Helvetica, sans-serif;
}
.popup .close-popup{
	float: right;
	font: 12px/12px Raleway, Helvetica, sans-serif;
}
.popup h2{
	font: 26px/30px Raleway, Helvetica, sans-serif;
	margin: 0 0 5px;
}
.popup h3{
	font: 20px/24px Raleway, Helvetica, sans-serif;
	margin: 0 0 10px;
}
.popup p{margin: 0 0 10px;}
.popup .section{
	padding: 10px 0 0;
	border-top: 2px solid #fff;
}
.spot-info .mode-holder{padding: 10px 10px 0;}
.spot-info .rate-mode{padding: 10px 15px;}
.spot-info .mode-holder > .wrapper{padding: 10px 0;}
.spot-info{width: 500px;}
.star-rate{padding: 0 0 5px;}
.star-rate ul,
.star-rate li{display: inline-block;}
.spot-info .actions{padding: 10px 0;}
.spot-info .actions li{
	float: left;
	width: 50%;
	font-size: 18px;
}
.spot-info .actions a{
	padding: 5px 0;
	margin: 0 auto;
	border-radius: 20px;
}
.star-rate .star {
	padding: 1px;
	color: #ddd;
	font-size: 20px;
	text-shadow: .05em .05em #aaa;
	display: inline-block;
}
.star-rate .star.filled {color: #315373;}
.star-rate span.star.filled {color: #fd0;}
.rate-mode .star-rate{float: left;}
.mode-holder span.label{
	float: left;
	width: 150px;
	line-height: 25px;
	text-align: left;
}
.spot-info input,
.spot-info textarea{
	width: 305px;
	padding: 0 5px;
	font: 16px/23px Raleway, Helvetica, sans-serif;
	resize: none;
	float: left;
	height: 60px;
	border: 1px solid #ccc;
}
.spot-info input{height: auto;}
.spot-info .cta{
	line-height: 32px;
	width: 90%;
	display: block;
	margin: 10px auto;
	box-shadow: 0 0 10px #333;
}
.spot-info .direction-select{
	background: none;
	font: 18px/30px Raleway, Helvetica, sans-serif;
	height: 30px;
	border: 2px solid #ccc;
	color: #315373;
	outline: none;
	text-shadow: 0 0 5px #aaa;
	margin: 0 0 10px;
}
.spot-info #recaptcha div{margin: 0 auto;}
.reviews-list{
	max-height: 300px;
	overflow: scroll;
	padding: 0 15px;
}
.reviews-list > li{
	border-top: 1px solid #fff;
	padding: 10px 0 0;
	text-align: left;
}
#about-section{
	padding: 50px;
	overflow: hidden;
	font: 18px/30px Raleway, Helvetica, sans-serif;
	margin: 0 0 20px;
}
#about-section img.me{
	float: left;
	width: 20%;
	border-radius: 50px;
	box-shadow: 0 0 10px #000;
	margin: 10px;
}
#about-section article.content{
	width: 75%;
	float: right;
}
#about-section dl{
	border-top: 2px solid #fff;
	margin: 0;
	padding: 10px 0 0;
	line-height: 40px;
}
#about-section dt{
	float: left;
	margin: 0;
	width: 100px;
}
#about-section dd{margin: 0;}